body.absolute-pos #content-inner {
    padding: 0;
}

#grp-content-title {
    display: none;
}

#id_url {
    width: 350px;
}

.container-flexible {
    margin-top: 15px;
}

.grp-row.content_type .c-1 {
    width: 120px !important;
}

.grp-module, .grp-row {
    border: 0;
    padding: 0 !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.grp-row.position, .grp-row.grp-module, .grp-row.source {
    display: none;
}

.grp-row.content_type {
    width: 282px;
    float: left;
    border: 0;
}

.grp-row.content_type label {
    font-size: 14px;
}

/* Get content type select aligned with other elements */
.grp-row.content_type select {
    margin-top: 4px;
}


/* Hide label for object_id and url, since 'Source' field makes it redundant */
fieldset.grp-module .grp-row.object_id .c-1,
fieldset.grp-module .grp-row.url .c-1 {
    display: none;
}

/* Hide raw id input field for object_id */
fieldset.grp-module .grp-row.object_id input {
    display: none !important;
}

/* Round out left side of related lookup box */
.curated-object-id-row a.curated-related-lookup {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0;
}

footer {
    background: transparent !important;
    border: 0 !important;
    margin-right: 10px !important;
}